# --- Dependencias ---
node_modules/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# --- Compilados / builds ---
dist/
build/
apps/**/dist/
apps/**/build/
.web-build/
.expo/
.next/
.nuxt/
.vuepress/dist

# --- Cachés ---
.cache/
.parcel-cache
.rpt2_cache/
.rts2_cache_*
.nyc_output
.pnpm-store/
.yarn/*
.expo-shared/

# --- Variables de entorno ---
.env
.env.*
!.env.example

# --- Cobertura / pruebas ---
coverage/
*.lcov
.grunt
.serverless/

# --- Supabase ---
.supabase/
supabase/.temp/

# --- Prisma ---
prisma/migrations/
prisma/dev.db

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs ---
*.log
*.tmp
*.temp

# --- Otros ---
*.pid
*.seed
*.pid.lock
